#include "resource.h"
#include <windows.h>

IDI_ICON ICON "rcs/ygw.ico"

IDB_BOARD BITMAP "rcs/board.bmp"
IDB_BLACK BITMAP "rcs/black.bmp"
IDB_WHITE BITMAP "rcs/white.bmp"
IDB_SELECT BITMAP "rcs/select.bmp"

IDC_MENU MENU
BEGIN
    POPUP "游戏(&G)"
    BEGIN
        MENUITEM "新对局(&N)\tCtrl+N", IDM_NEW, INACTIVE
        MENUITEM "打开(&O)\tCtrl+O", IDM_OPEN, INACTIVE
        MENUITEM "保存(&S)\tCtrl+S", IDM_SAVE, INACTIVE
        MENUITEM "另存为(&A)\tCtrl+Shift+S", IDM_SAVEAS, INACTIVE
        MENUITEM SEPARATOR
        POPUP "选项(&T)"
        BEGIN
            MENUITEM "手数", IDM_MOVES, INACTIVE
        END
        MENUITEM SEPARATOR
        MENUITEM "停着(&P)\tCtrl+P", IDM_PASS
        MENUITEM "撤回(&U)\tCtrl+Z", IDM_UNDO, INACTIVE
        MENUITEM "恢复(&R)\tCtrl+Y", IDM_REDO, INACTIVE
        MENUITEM "数子(&E)\tCtrl+K", IDM_CHECK
        MENUITEM SEPARATOR
        MENUITEM "退出(&X)", IDM_EXIT
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "关于(&A)", IDM_ABOUT
    END
END

IDD_OPTIONBOX DIALOG 22, 17, 120, 60
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "选项"
FONT 9, "宋体"
BEGIN
    GROUPBOX "设置棋盘大小", -1, 8, 8, 72, 36, WS_GROUP
    COMBOBOX IDDC_COMBOBOX, 12, 24, 60, 60, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    DEFPUSHBUTTON "确定", IDOK, 90, 12, 24, 12, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "取消", IDCANCEL, 90, 30, 24, 12, WS_TABSTOP | WS_GROUP
END

IDD_ABOUTBOX DIALOG 22, 17, 200, 100
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "关于"
FONT 9, "宋体"
BEGIN
    ICON IDI_ICON, IDDC_MYICON, 14, 9, 16, 16
    LTEXT "Yao (Version 1.0.0)", IDDC_STATIC, 49, 10, 119, 8, SS_NOPREFIX
    LTEXT "尧造围棋，丹朱善之。", IDDC_STATIC, 49, 20, 119, 8, SS_NOPREFIX
    LTEXT "堯造圍棋，丹朱善之。", IDDC_STATIC, 49, 30, 119, 8, SS_NOPREFIX
    DEFPUSHBUTTON "确定", IDOK, 160, 6, 30, 16, WS_GROUP
END

IDC_MENU ACCELERATORS
BEGIN
    "N", IDM_NEW, VIRTKEY, CONTROL, NOINVERT
    "O", IDM_OPEN, VIRTKEY, CONTROL, NOINVERT
    "S", IDM_SAVE, VIRTKEY, CONTROL, NOINVERT
    "S", IDM_SAVEAS, VIRTKEY, CONTROL, SHIFT, NOINVERT
    "P", IDM_PASS, VIRTKEY, CONTROL, NOINVERT
    "Z", IDM_UNDO, VIRTKEY, CONTROL, NOINVERT
    "Y", IDM_REDO, VIRTKEY, CONTROL, NOINVERT
    "K", IDM_CHECK, VIRTKEY, CONTROL, NOINVERT
END